.container {
    padding: 0 20px;
    height: 100%;
}

@media (min-width: 768px) {
    .container {
        padding: 0 50px;
    }
}

@media (min-width: 1024px) {
    .container {
        padding: 0;
        max-width: 870px;
        margin: 0 auto;
    }
}

@media (min-width: 1280px) {
    .container {
        max-width: 1100px;
    }
}
