@import "../../styles/container.scss";
@import "../../styles/icons.css";
@import "../../styles/button.scss";
@import "../../styles/colors.scss";

.bar-current {
    padding: 30px 0;
}
.current {
    font-size: 16px;
    font-weight: 300;
    color: #fff;

    &-title,
    &-items span {
        display: inline-block;
    }

    &-title {
        font-weight: 400;
        margin-bottom: 25px;
    }

    &-items {
        margin-bottom: 25px;
    }

    &-item {
        display: flex;
        align-items: center;
        justify-content: space-between;

        margin-bottom: 15px;
    }
    &-item > span:first-child {
        color: $sub-text;
        max-width: 60px;
        margin-right: 10px;
    }
}

.icon-wind-direction {
    margin-right: 15px;
}

.button-line {
    display: flex;
    justify-content: flex-end;
}

.btn-more {
    max-width: 150px;
}
