<div class="search">
    <div class="search__inner">
        <div class="input-block">
            <div class="input-block__relative">
                <input
                    type="text"
                    class="search-input"
                    #cityName
                    (keyup)="search(cityName.value)"
                    placeholder="City name..."
                    [(ngModel)]="valueInput"
                />

                <span class="icon-search"></span>
            </div>

            <span
                [class.show]="isShowList"
                (click)="showList()"
                class="icon-arrow"
            ></span>
        </div>

        <ul class="search-list" [class.mobileShowList]="isShowList">
            <li class="search-list__item" *ngFor="let city of cities">
                <p (click)="setLocation(city.geometry.coordinates)">
                    {{ city.properties.name }}
                </p>
            </li>
        </ul>
    </div>
</div>
