<div class="current" *ngIf="currentWeather?.city">
    <div class="current__inner">
        <div class="current__wrap-city-date">
            <div class="current-city">
                <h2>{{ currentWeather.city }}</h2>
            </div>
            <div class="current-date">
                <p>
                    {{
                        currentWeather?.time?.dt
                            | date: "hh:mm aa - EEEE, dd MMM ‘yy"
                    }}
                </p>
            </div>
        </div>
        <div class="current-image">
            <img
                src="{{ currentWeather?.image }}"
                alt="weather"
                width="64"
                height="48"
            />
            <p *ngIf="currentWeather?.desc?.description">
                {{ currentWeather?.desc?.description }}
            </p>
            <p *ngIf="!currentWeather?.desc?.description">
                {{ currentWeather?.desc }}
            </p>
        </div>
        <div class="current-degree">
            <h2 *ngIf="!currentWeather?.temp.day">
                {{ currentWeather.temp + "°" }}
            </h2>
            <h2 *ngIf="currentWeather?.temp.day">
                {{ currentWeather.temp.day + "°" }}
            </h2>
        </div>
    </div>
</div>
