<div class="bar">
    <div class="container">
        <div class="bar__inner">
            <app-search></app-search>

            <span class="separate-line"></span>

            <app-detail-weather
                [currentWeather]="currentWeather"
                [buttonVisibility]="true"
            ></app-detail-weather>

            <span class="separate-line"></span>

            <div class="bar-current">
                <span class="current-title"> Next days </span>

                <div class="current-items">
                    <div
                        title="{{ day.desc }}"
                        class="current-item"
                        *ngFor="let day of week; let i = index"
                    >
                        <span> {{ day?.time?.dt | date: "EEEE, dd LLL" }}</span>
                        <img
                            src="{{ day?.image }}"
                            width="45"
                            alt="weather_state"
                        />

                        <span>{{ day.temp.day + "°" }}</span>
                    </div>
                </div>

                <div class="button-line">
                    <button routerLink="/daily" class="button btn-more">
                        <span class="icon-arrow"></span>
                        <span>More days</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
