<div class="application">
    <div class="container">
        <div class="title-page">
            <div class="title-page__inner">
                <div class="title-page__content">
                    <div class="logo">
                        <img
                            src="../../assets/image/Logo.png"
                            alt="Weathmin"
                            height="28"
                            width="85"
                        />
                    </div>
                    <app-current-weather></app-current-weather>
                </div>
            </div>
        </div>
    </div>

    <div class="title-page__bar">
        <app-info-bar></app-info-bar>
    </div>
</div>
